body, button {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.ball {
	display: absolute;
}

#container {
    margin: auto auto;
    display: relative;
    border: 2px solid black;
    height: 500px;
    width: 1000px;
}
